*{
  background-color: cadetblue;
  justify-content: center; 
  padding :0px 100x 0px 100px;
}
h1{
  border-radius:20px;
  width: 350px;;
  height: 350px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
button{
  border-radius:20px;
  width:170px;
  height: 150px;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
}